<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jasmine.TypeScript.DefinitelyTyped" version="0.7.6" targetFramework="net45" />
  <package id="JasmineTest" version="2.0.0" targetFramework="net45" />
  <package id="underscore.js" version="1.6.0" targetFramework="net45" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.4.1" targetFramework="net45" />
</packages>