<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jasmine" version="2.4.1" targetFramework="net45" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="2.3.2" targetFramework="net45" />
  <package id="LogR.js" version="1.0.2.0" targetFramework="net45" />
  <package id="underscore.js" version="1.8.3" targetFramework="net45" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="1.6.6" targetFramework="net45" />
</packages>